<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
<!--This is a template. {{name}}-->
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 2448px; height: 160px;'>
    </textarea><br/>
    <input type="checkbox" name="removepunch"> Remove Punctuations </input><br/>
    <input type="checkbox" name="fullcaps"> UPPERCASE </input><br/>
    <input type="checkbox" name="newlineremover"> New line Remover </input><br/>
    <input type="checkbox" name="spaceremover">space remover</input><br/>
    <input type="checkbox" name="charcount">character count</input><br/>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>